mixin sliderTogles(classMod)
    p(class=classMod+"__toggles slider__togles")
        button(type="button").slider__togle.slider__togle--active 1
        button(type="button").slider__togle 2
        button(type="button").slider__togle 3