mixin advantagesItem(classMod = 'modifier', title = "Заголовок", desc = "Описание")
    li(class="advantages__item advantages__item--" + classMod + " slider__item slider__item--nojs")
        h3.advantages__title= title
        p.advantages__description= desc

section.advantages
    .advantages__wraper.slider
        h2.visually-hidden Наши преимущества
        ul.advantages__list.slider__list
            +advantagesItem('fast', 'Быстро', 'Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки')
            +advantagesItem('cool','Круто','Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.')
            +advantagesItem('expensive','Дорого','Наши мастера — профессионалы своего делаи не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?')

        +sliderToggles("advantages")