footer.page-footer
    .page-footer__wrapper
        .page-footer__contacts.contacts
            b.contacts__title Барбершоп «Бородинский»
            p.contacts__text г. Санкт-Петербург, ул. Большая Конюшенная 19/8
            a(href="tel:+78125556666").contacts__phone 
                span.contacts__phone-mobile Тел.:
                |  +7 (812) 555-66-66
        .page-footer__social.social
            b.social__title Давайте дружить!
            ul.social__list
                li.social__item
                    a(href="#").social__link.social__link--vk Мы в Вконтакте
                li.social__item
                    a(href="#").social__link.social__link--fb Мы в Фейсбуке
                li.social__item
                    a(href="#").social__link.social__link--insta Мы в Инстаграме
        .page-footer__copyright.copyright
            b.copyright__text Разработано:
            a(href="#").copyright__link HTML Academy