mixin siteListItem(href="#", text="ссылка")
    - var className = "site-list__item";

    if (href == currentPage)
        li(class= className +' ' + className+'--active')
            a= text
    else
        li(class=className)
            a(href=href)= text

            
header.page-header
    a.page-header__logo
        include ../img/logo.svg
           
    nav.main-nav.main-nav--closed.main-nav--nojs
        button(type="button").main-nav__toggle
            span.visually-hidden Открыть меню
        .main-nav__wrapper
            ul.main-nav__list.site-list
                +siteListItem('/index.html', 'Главная')
                +siteListItem('/works.html', 'Наши работы')
                +siteListItem('/order.html', 'Записаться')
                +siteListItem('#', 'Контакты')
                +siteListItem('#', 'HTML Academy')
            ul.main-nav__list.user-list
                li.user-list__item
                    a(href="/login.html").user-list__login 
                        include ../img/login.svg
                    
                        | Вход