section.modal-login.modal-login--show
  h2._title Личный кабинет
  p._subtitle Введите пожалуйста свой логин и пароль
  form(action="htttp://echo.htmlacademy.ru" method="post")._form
    p._form-wrapper
      label(for="user-login").visually-hidden Логин
      input(id="user-login", type="text", name="login", placeholder="Логин")._input.input
    p._form-wrapper
      label(for="user-password").visually-hidden Пароль
      input(id="user-password", type="password", name="password", placeholder="Пароль")._input.input
    p._password-info
      input(id="remember-pass", type="checkbox", name="remember").visually-hidden
      label(for="remember-pass")._checkbox Запомните меня

      a(href="#")._restore Я забыл пароль!

    button._enter.button(type='submit') Войти
    button._close.button(type='button') Закрыть


