mixin newsItem(year, month, day, text)
    li.news__item
        time(datetime=year+'-'+month+'-'+day).news__date
            b.news__day= day
            case month
                when 1 
                    |  янв
                when 2 
                    |  февр
                when 3
                    |  март
                when 4
                    |  апр
                when 5 
                    |  май
                when 6 
                    |  июнь
                when 7
                    |  июль
                when 8
                    |  авг
                when 9
                    |  сент
                when 10 
                    |  окт
                when 11 
                    |  нояб
                when 12
                    |  дек
        p.news__text= text

section.news
    ._wrapper
        h2._title Новости и акции
        ul._list
            +newsItem(2017, 9, 29, "Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.")
            +newsItem(2017, 9, 19, "В нашей команде пополнение, Борис «Бритва» Стригунец, пополнил наши стройные ряды. Спешите записаться!")
            +newsItem(2017, 9, 9, "Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!")
        a(href="#")._to-all.button Показать всё