section.reviews
    .reviews__wrapper.slider
        h2.reviews__title Отзывы о нас
        a(href="#").reviews__write.button Оставить свой

        .reviews__list.slider__list
            for each in [1,2,3]
                +reviewsItem('travis','Фото Трэвиса Баркера',"Трэвис Баркер", "Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!")
        
            
            button(type="button").reviews__prev Предыдущий отзыв
            button(type="button").reviews__next Следующий отзыв отзыв
        +sliderTogles("reviews")