section.stats
  header._header
    h2.visually-hidden Статистика барбешопа
    b._slogan Стрижка у нас это выгодно!
    p._intro Мужская стрижка требует точного подхода. Обратимся к статистике:
    small._legend.stats__legend--top
      sup *
      |  — приведённые данные ложь
  table._list
    tr
      td._value 1 500
        sup *
      td._field рублей <br> вложений
    tr
      td._value 7 200
      td._field секунд <br> времени мастера
    tr
      td._value 90 000
      td._field постриженных <br> волос
    tr
      td._value 500 000
        sup *
      td._field лайков и <br> комплиментов
  small.stats__legend.stats__legend--bottom
    sup *
    |  — приведённые данные ложь
