body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background: #292929; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  display: flex;
  flex-direction: column; }
  .page-header__logo {
    height: 85px;
    text-align: center; }
    .page-header__logo svg {
      width: 226px;
      height: 85px; }
    .page-header__logo-barbershop, .page-header__logo-mustache {
      display: none; }

@media (min-width: 768px) {
  .page-header {
    background: #000; }
    .page-header__logo {
      order: 2;
      width: 100%;
      height: 400px;
      background-color: #000;
      background-image: url("/img/bg-header.jpg");
      background-repeat: no-repeat;
      background-position: center -9px; }
      .page-header__logo svg {
        display: block;
        width: 370px;
        height: auto;
        margin: 40px auto 0; }
      .page-header__logo-barbershop {
        display: inline-block; } }

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover; }
    .page-header__logo svg {
      margin-top: 57px; }
    .page-header__logo-mustache {
      display: inline-block; } }

.main-nav {
  position: relative;
  min-height: 51px;
  background-color: #826550; }
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    background-color: #624c3d;
    cursor: pointer;
    border: none; }
    .main-nav__toggle:hover, .main-nav__toggle:focus, .main-nav__toggle:active {
      background-color: #433429; }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }
  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }
  .main-nav--opened .main-nav__toggle {
    top: 0;
    right: auto;
    left: 0; }
    .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
      content: "";
      position: absolute;
      top: 23px;
      left: 18px;
      width: 36px;
      height: 2px;
      background-color: #fff; }
    .main-nav--opened .main-nav__toggle::before {
      transform: rotate(45deg);
      box-shadow: none; }
    .main-nav--opened .main-nav__toggle::after {
      transform: rotate(-45deg); }
    .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
      background-color: rgba(255, 255, 255, 0.3); }
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: block;
      text-align: center; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 5;
    min-height: 80vh;
    background-color: #725946; }
    .main-nav--opened .main-nav__wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 7px;
      height: 100%;
      box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.4); }
  .main-nav--nojs .site-list__item {
    display: block; }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background: #000; }
    .main-nav--opened .main-nav__wrapper {
      position: static;
      min-height: auto;
      background-color: transparent; }
    .main-nav__wrapper {
      display: flex;
      justify-content: space-between;
      width: 83.33333%;
      max-width: 960px;
      margin: 0 auto; }
    .main-nav__toggle {
      display: none; }
    .main-nav--closed .site-list__item, .main-nav--closed .user-list__item {
      display: block; } }

.site-list {
  font-weight: bold; }
  .site-list a {
    display: block;
    padding: 12px 21px 13px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #826550;
    border-top: 1px solid #a07e65;
    border-bottom: 1px solid #624c3d; }
    .site-list a[href]:hover, .site-list a[href]:focus {
      background-color: #624c3d; }
    .site-list a[href]:active {
      color: rgba(255, 255, 255, 0.5);
      background-color: #433429;
      border-bottom: 1px solid #433429; }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1; }
    .site-list__item {
      margin-right: 32px; }
      .site-list__item:last-child {
        margin-right: 0; }
      .site-list__item--active {
        position: relative; }
        .site-list__item--active::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: -3px;
          left: 0;
          height: 3px;
          background: #826550; }
      .site-list__item a {
        padding: 25px 0 23px;
        background: none;
        border: none; }
        .site-list__item a[href]:hover, .site-list__item a[href]:focus {
          color: #826550;
          background-color: #000; }
        .site-list__item a[href]:active {
          color: rgba(255, 255, 255, 0.5);
          border: none; } }

@media (min-width: 1200px) {
  .site-list {
    width: 780px; }
    .site-list__item {
      margin-right: 0; }
      .site-list__item--active::after {
        right: 30px;
        left: 30px; }
      .site-list__item a {
        padding: 25px 31px 23px; } }

.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #fff;
  text-decoration: none; }
  .user-list__login-icon {
    position: absolute;
    top: 17px;
    left: 21px;
    width: 16px;
    height: 16px;
    opacity: 0.5; }
    .user-list__login-icon polygon {
      fill: #fff; }

@media (min-width: 768px) {
  .user-list {
    width: 60px; }
    .user-list__login {
      width: 60px;
      height: 70px;
      padding: 0;
      font-size: 0; }
      .user-list__login-icon {
        top: 29px;
        left: 12px; }
      .user-list__login:hover .user-list__login-icon {
        opacity: 1; } }

@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px; }
    .user-list__login {
      position: relative;
      width: auto;
      height: auto;
      padding: 25px 30px 23px 50px;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none; }
      .user-list__login:hover {
        color: #000;
        background-color: #fff; }
      .user-list__login:hover .user-list__login-icon {
        opacity: 0.5; }
        .user-list__login:hover .user-list__login-icon polygon {
          fill: #000; }
      .user-list__login-icon {
        left: 15px; } }

.stats__header {
  padding: 30px 40px 25px;
  background-color: #fff;
  color: #000; }

.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px; }
  .stats__legend--bottom {
    padding: 20px 0 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background-color: #292929; }
  .stats__legend--top {
    display: none; }
  .stats__legend sup {
    top: -0.25em;
    font-size: 90%; }

.stats__list {
  width: 100%;
  border-collapse: collapse; }
  .stats__list tr {
    color: #fff;
    background-color: #404040; }
    .stats__list tr:nth-child(2) {
      background-color: #4e4e4e; }
    .stats__list tr:nth-child(3) {
      background-color: #353535; }
    .stats__list tr:nth-child(4) {
      background-color: #404040; }

.stats__value, .stats__field {
  width: 50%;
  padding: 20px 20px 19px;
  vertical-align: top; }

.stats__value {
  padding-right: 0px;
  font-size: 40px;
  line-height: 40px; }
  .stats__value sup {
    top: -0.35em;
    margin-left: 5px; }

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right; }
