* {
  box-sizing: border-box; }

body {
  background-color: tomato;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

h1 {
  font-size: 40px; }

.test1 {
  height: 100vh; }

.test2 {
  height: 100vh;
  background: magenta; }
