extends ./layout/page

block variables
  -currentPage = "/index.html";

block title
  title Барбершоп «Бородинский»

block content
  include ./includes/stats
  include ./includes/advantages
  include ./includes/news
  include ./includes/reviews
