extends ./layout/page 

block title
    title Барбершоп «Бородинский»

block content
    main.page-main
        h1.visually-hidden Барбершоп «Бородинский» — истинно мужская классика
        include ./includes/stats
        include ./includes/advantages
        include ./includes/news 
        include ./includes/reviews
        include ./includes/footer