=reset-list()
  margin: 0
  padding: 0

  list-style: none

=light-mode()
  color: #000000

  background-color: $bg-lightgrey

=dark-mode()
  color: #f7f4f1

  background-color: $bg-darkgrey

=triangle-tail($height, $color)
  &::after
    content: ""
    position: absolute
    right: 0
    bottom: - $height
    left: 0

    width: 100%
    height: $height

    background-color: $color

    clip-path: polygon(50% 100%, 0 0, 100% 0)

=tablet-container()
  width: 640px / $tablet-width * 100%
  max-width: 960px
