.advantages
    position: relative
    +triangle-tail(35px, $bg-darkgrey)
    &__wraper
        padding: 30px 0 16px
    &__list
        +reset-list

    &__item
        position: relative
        padding: 95px + 30px 40px 25px

        text-align: center

        &::before
            position: absolute
            content: ''

            top: 0
            right: 50%
            transform: translateX(50%)
            width: 95px
            height: 95px
            background-repeat: no-repeat
            background-position: center

        &--fast::before
            background-image: url("/img/fast.svg")
        &--cool::before
            background-image: url("/img/cool.svg")
        &--expensive::before
            background-image: url("/img/expensive.svg")

    &__title
        font-size: 30px
        line-height: 1
        font-weight: bold
        text-transform: uppercase
        margin: 0 0 15px

    &__description
        font-size: 20px
        line-height: 1.35

    // &::after

        // position: absolute
        // content: ''
        // bottom: -34px
        // height: 35px
        // width: 100%
        // background-color: $bg-darkgrey
        // clip-path: polygon(50% 100%, 0 0, 100% 0)
