.contacts
    &__title
        display: block
        margin-bottom: 10px
    &__text
        margin: 0 0 18px
    &__phone-mobile
        display: none
    @media (min-width: $tablet-width)
        &
            text-align: left
        &__text
            margin-bottom: 0
        &__phone
            padding: 0
            width: auto
            text-transform: none
            border: none
            font-weight: normal
            text-align: left
        &__phone-mobile
            display: inline
