.copyright
    &__text
        display: inline-block
        font-weight: normal
        margin-bottom: 10px
    @media (min-width: $desktop-width)
        &
            width: 50%
            margin-left: auto
        &__link
            height: 50px
            box-sizing: border-box