.news
    padding: 70px 20px 20px
    border-bottom: 1px solid darken($bg-lightgrey, 10%)
    +light-mode

    &__title
        margin: 0 0 25px
        +subheader
    &__list
        +reset-list
    &__item
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-bottom: 15px
        border-bottom: 1px solid darken($bg-lightgrey, 10%)
        padding-bottom: 20px
    &__date
        position: relative
        display: block
        background-color: #000
        color: #fff
        width: 50px
        box-sizing: border-box
        padding: 5px 12px 3px
        font-size: 16px
        line-height: 1
        text-align: center
        margin-top: 12px
        margin-right: 20px
        +triangle-tail(10px, black)

    &__day
        font-weight: bold
        font-size: 30px
        display: block
    &__text
        margin: 0