.slider
    &__toggles
        display: flex
        justify-content: space-between
        width: 78px
        margin-left: auto
        margin-right: auto
    &__toggle
        font-size: 0
        cursor: pointer
        box-sizing: border-box
        width: 14px
        height: 14px
        border: 1px solid #fff
        background: none
        transition: background-color 0.2s linear
        transform: rotate(45deg)
        &--active
            background-color: #fff
    &__item
        display: none
        &--nojs, &--active
            display: flex
