.user-list
  &__login
    position: relative

    display: block
    padding: 17px 21px
    padding-left: 49px

    line-height: 18px
    color: #ffffff
    text-decoration: none

    &-icon
      position: absolute
      top: 17px
      left: 21px

      width: 16px
      height: 16px

      opacity: 0.5
      & polygon
        fill: #ffffff

@media (min-width: $tablet-width)
  .user-list
    width: 60px
    &__login
      width: 60px
      height: 70px
      padding: 0

      font-size: 0
      &-icon
        top: 29px
        left: 12px
      &:hover &-icon
        opacity: 1

@media (min-width: $desktop-width)

  .user-list
    width: auto
    max-width: 160px
    &__login
      position: relative

      width: auto
      height: auto
      padding: 25px 30px 23px 50px

      font-weight: bold
      font-size: 18px
      line-height: 24px
      text-transform: uppercase
      text-decoration: none

      &:hover, &:focus
        color: #000000

        background-color: #ffffff
      &:hover &-icon
        opacity: 0.5
        & polygon
          fill: #000000
      &:active
        color: rgba(0, 0, 0, 0.5)
      &:active &-icon
        opacity: 0.3
      &-icon
        left: 15px
